{% load static %}
<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed layout-compact" dir="ltr" data-theme="theme-default" data-assets-path="{% static 'assets/' %}" data-template="vertical-menu-template-free">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title>Dashboard </title>
    <meta name="description" content="" />

    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'assets/img/favicon/favicon.ico' %}" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/boxicons.css' %}" />

    <!-- Core CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/boxicons/2.0.7/css/boxicons.min.css">
    <link rel="stylesheet" href="{% static 'assets/vendor/css/core.css' %}" class="template-customizer-core-css" />
    <link rel="stylesheet" href="{% static 'assets/vendor/css/theme-default.css' %}" class="template-customizer-theme-css" />
    <link rel="stylesheet" href="{% static 'assets/css/demo.css' %}" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/vendor/libs/apex-charts/apex-charts.css' %}" />

    <!-- Page CSS -->

    <!-- Helpers -->
    <script src="{% static 'assets/vendor/js/helpers.js' %}"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!-- Config: Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file. -->
    <script src="{% static 'assets/js/config.js' %}"></script>
</head>
<body>
    <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">
            <!-- Menu -->
            <aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
                <div class="app-brand demo">
                    <a href="index.html" class="app-brand-link">
                        <span class="app-brand-logo demo">
                            <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <!-- SVG content -->
                            </svg>
                        </span>
                        <span class="app-brand-text demo menu-text fw-bold ms-2">Nursery</span>
                    </a>

                    <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
                        <i class="bx bx-chevron-left bx-sm align-middle"></i>
                    </a>
                </div>

                <div class="menu-inner-shadow"></div>

                <ul class="menu-inner py-1">
                    <!-- Dashboards -->
                    <div style="background-color: white">
                        <li class="menu-item active open">
                            <a href="javascript:void(0);" class="menu-link menu-toggle">
                                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                                <div data-i18n="Dashboards">Dashboards</div>
                            </a>
                        </li>
                        <br>

                        <!-- Pages -->
                        <li class="menu-item">
                            <a href="{% url 'admin_plants' admin_id=N_Admin.id %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bxs-tree"></i>
                                <div data-i18n="Account">View Plants</div>
                            </a>
                        </li>
                        <br>

                        <li class="menu-item">
                            <a href="{% url 'addplant_item' admin_id=N_Admin.id %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bxs-tree"></i>
                                <div data-i18n="Account">Add Plants</div>
                            </a>
                        </li>
                        <br>


                        <li class="menu-item">
                            <a href="{% url 'view_feedback' admin_id=N_Admin.id %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-conversation"></i>
                                <div data-i18n="Notifications">Customer Review</div>
                            </a>
                        </li>
                        <br>

                        <li class="menu-item">
                            <a href="{% url 'manage_checkouts' admin_id=N_Admin.id %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-conversation"></i>
                                <div data-i18n="Notifications">Customer Booking Details</div>
                            </a>
                        </li>
                        <br>

                        <li class="menu-item">
                            <a href="{% url 'nersery_profile' admin_id=N_Admin.id %}" class="menu-link">
                                <i class="menu-icon tf-icons bx bx-user-pin"></i>
                                <div data-i18n="">Profile</div>
                            </a>
                        </li>
                        <br>

                        <li>
                            <a class="dropdown-item"><a href="{% url 'admin_logout' %}">
                                <i class="bx bx-power-off me-2"></i>
                                <span class="align-middle">Log Out</span>
                            </a>
                            </a>
                        </li>
                    </div>
                </ul>
            </aside>
            <!-- / Menu -->
            <!-- Layout container -->
            <div class="layout-page">
                <!-- Navbar -->
                {% block content %}
                {% endblock %}
                <!-- Footer -->
                <div class="content-backdrop fade"></div>
            </div>
            <!-- / Layout page -->
        </div>
        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->

    <!-- Core JS -->
    <!-- build:js assets/vendor/js/core.js -->
    <script src="{% static 'assets/vendor/libs/jquery/jquery.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/popper/popper.js' %}"></script>
    <script src="{% static 'assets/vendor/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js' %}"></script>
    <script src="{% static 'assets/vendor/js/menu.js' %}"></script>
    <!-- endbuild -->

    <!-- Vendors JS -->
    <script src="{% static 'assets/vendor/libs/apex-charts/apexcharts.js' %}"></script>

    <!-- Main JS -->
    <script src="{% static 'assets/js/main.js' %}"></script>

    <!-- Page JS -->
    <script src="{% static 'assets/js/dashboards-analytics.js' %}"></script>

    <!-- Place this tag in your head or just before your close body tag. -->
    <script async defer src="{% static 'https://buttons.github.io/buttons.js' %}"></script>
</body>
</html>
