{% extends 'base.html' %}

{% block content %}
 <!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area" xmlns="http://www.w3.org/1999/html">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="">
            <h2>Delete Account</h2>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#"><i class="fa fa-home"></i> Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Cart</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
<br><br>
  <h2>Delete Account</h2>
  <p>Are you sure you want to delete your account? .</p>

  <form method="post" action="{% url 'delete_account' %}">
    {% csrf_token %}
    <button type="submit" class="profile-edit-btn" >Delete Account</button><br><br><br><br><br><br><br><br>
  </form>
{% endblock %}
