{% extends 'base_nursery.html' %}
{% load static %}
{% block content %}

<style>
    body {
        color: blue;
    }

    h2 {
        color: #3366cc; /* Change this to your preferred color */
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        margin-bottom: 20px;
        border: 1px solid #ddd; /* Add a border for separation */
        padding: 10px;
        border-radius: 5px;
        background-color: #f9f9f9; /* Light gray background */
    }

    p {
        margin: 0;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
        color: black; /* Set the font color for table cells */
    }

    tr:hover {
        background-color: blue;
    }
</style>
<body><br>
   <center><b> <h2>Customer Feedback</h2></b></center>
    <table class="table" bgcolor="#AFC8FD" border="5" cellpadding="30" cellspacing="0">
        <thead colspan="3">
            <tr><b>
                    <th>Customer</th>
                    <th>Plant:</th>
                    <th>Image</th>
                    <th>Review:</th>
                    <th>Created at:</th>

                </b></tr>
        </thead>
        <tbody>
            {% for item in feedback %}
            <tr>
                <td> {{ item.name }}</td>
                <td> {{ item.plant }}</td>
                <td><img src="{{item.plant.imageURL}}" border=3 height=100 width=100></td>
                <td> {{ item.feedback }}</td>
                <td> {{ item.date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
{% endblock %}
