{%extends 'base.html'%}
{% load static %}
{%block content%}
<!-- ##### Breadcrumb Area Start ##### -->
<div class="breadcrumb-area" xmlns="http://www.w3.org/1999/html">
        <!-- Top Breadcrumb Area -->
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center" style="background-image: url({% static 'img/bg-img/' %});">
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ##### Breadcrumb Area End ##### -->
<center>
<div class="center">
	    <div class="col-md-6">

	<form method="post" class="card" action="forgotPassword" >
		{% csrf_token %}
{% for i in messages %}
        {{ i }}
        {% endfor %}
	    <h2 class="text-center">Reset Password</h2>
		<label>Enter your Username: </label>
		<input type="text" class="form-control" name="username" placeholder="username" value="" required/><br>
		<label>Enter New password :</label>
          <input type="password" class="form-control" id="password1" name="password1" placeholder="" required>
		<label>Confirm Password : </label>
          <input type="password" class="form-control" id="password2" name="password2" placeholder="" required>
		<div class="form-buttons">
			<input type="submit" value="save" class="btn btn-primary">
			<a href="{%url 'user_login' %}"  class="btn btn-outline">Cancel</a>
		</div>
	</form>
		</div>
	</div>
	</center>
{%endblock%}